<!doctype html>
<html>
<form action=${langLink}>
    <label><@spring.message 'lang.label'/>:</label>
    <select name="lang">
        <option value="<@spring.message 'lang.select.value1'/>">
            <@spring.message 'lang.select1'/>
        </option>
        <option value="<@spring.message 'lang.select.value2'/>">
            <@spring.message 'lang.select2'/>
        </option>
    </select>
    <input type="submit" value="<@spring.message 'lang.submit'/>"/>
</form>
<#if user?has_content>
    <label><@spring.message 'user.email'/>: ${user.email}</label>
    <form action="/logout" method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
        <input type="submit" value="<@spring.message 'button.logout'/>">
    </form>
</#if>
<h1><@spring.message 'header'/></h1>
</html>